body{
    background: linear-gradient(150deg, purple, blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container img{
    margin-top: 50px;
    width: 500px;
}
.container h1{
    color: #FAFAFA;
    font-size: 100px;
}